$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$background-color: #4e4e4e;
$font-color: #dfdfdf;
$white: #fff;
$modal-font-color: #000;
$black: #000;

.modal {
  color: $modal-font-color;
}

div {
  float: left;

  h1 {
    font-size: 6em;
    text-align: center;
  }
}

.row {
  width: 100%;
}

.top-line {
  border: 1px solid $black;
}

.user-center {
  border: 1px solid $black;
  height: 250px;
  margin: 20px 50px;
  width: 518px;
}

.board {
  border: 2px solid $black;
  height: 518px;
  margin: 50px;
  width: 518px;

  @media(max-width: 400px) {
    border: 1px solid $black;
    height: 300px;
    margin: 10px;
    width: 300px;
  }
}

.space {
  border: 2px solid $black;
  float: left;
  font-size: 30;
  height: 160px;
  left: 0;
  margin: 5px;
  position: center;
  width: 160px;

  @media(max-width: 400px) {
    border: 1px solid $black;
    height: 87px;
    margin: 5px;
    width: 87px;

    h1 {
      font-size: 12;
    }
  }
}

.status {
  border: 1px solid $black;
  height: 40px;
  margin: 20px 50px;
  width: 518px;

  p {
    font-size: 2em;
    text-align: center;
  }
}

.btn {
  float: left;
  margin: 8px;
}

#signUpUser {
  float: left;
}

.game-api {
  height: 80px;
  width: 10%;
}

.modal-center {
  left: 200px;
  position: fixed;
  top: 100px;
}

.search-results {
  border: 1px solid $black;
  height: 200px;
  margin: 20px 50px;
  width: 518px;
}
