header {
  height: 100px;
  width: 100%;
  text-align: center;
  border: 2px solid black;
}

div {
  float: left;
}

.sidebar {
  width: 25%;
  height: 1000px;
  border: 2px solid black;
}

.board {
  height: 525px;
  width: 525px;
  margin: 50px;
  border: 2px solid black;
}

.space {
  height: 160px;
  width: 160px;
  border: 2px solid black;
  margin: 5px;
  position: static;
  float: left;
  left: 0px;
  font-size: 30;
}
